.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 438px;
    overflow: hidden;
}

.search-wrap {
    background-color: #333;
}

.classification-icon {
    background: url(../images/sort.png) no-repeat;
    background-size: 100% 100%;
}


/*商品列表*/

.list-wrapper {
    position: absolute;
    top: 5.5rem;
    bottom: 5rem;
    width: 100%;
    overflow: auto;
    overflow: hidden;
}

.list-wrapper .top-tip {
    position: absolute;
    top: -4rem;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #555;
}

.list-wrapper .bottom-tip {
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    color: #777;
    background: #f2f2f2;
}

.list-content {
    width: 100%;
    overflow: hidden;
}

.list-content li {
    position: relative;
    margin-top: .1rem;
    width: 100%;
    height: 16.9rem;
    overflow: hidden;
}

.list-content li img {
    width: 100%;
    height: 100%;
}

.swiper-container-rtl .swiper-button-prev {
    background-image: url('../images/left.png')
}

.swiper-container-rtl .swiper-button-next {
    background-image: url('../images/right.png')
}