.wrapper {
  padding-bottom: 1.3rem;
}

input {
  background-color: #fff;
}


/*----------用来移除向下箭头----------*/

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}


/*----------用来移除叉叉按钮----------*/

input[type="date"]::-webkit-clear-button {
  display: none;
}

.user-info {
  background-color: #fff;
}

.item {
  position: relative;
  display: flex;
  padding: 1rem 2.2rem 1rem 2rem;
  font-size: 1.3rem;
}

.item span {
  flex: 1;
  line-height: 1.8rem;
}

.item input {
  color: #2a2a2a;
  line-height: 1.8rem;
  text-align: right;
}

.item:last-child {
  margin-bottom: 1.5rem;
}

select {
  border: none;
  padding: 1px 15px 1px 10px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}

select::-ms-expand { display: none; }